# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# MLflow
mlruns/
mlartifacts/
mlflow.db


# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
data/baseline/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/baseline/.gitkeep

# OS
.DS_Store



artifacts/*
!artifacts/.gitkeep
